@page
@model Viagens.Pages.Index3Model
@{
}
<div class="text-center">
    <h1 class="display-4">Europa!</h1>
</div>
<div class="text-center">
O velho continente é repleto de lugares históricos que valem a visita! Não deixe de planejar sua viagem!
</div>
<p></p>
<div>
    <p>
        Abaixo algumas sugestões de Roteiro para você que está iniciando os planejamento da sua Eurotrip!
    </p>
</div>
<p></p>
<div>
    Roteiro Europa: 20 Dias Perfeitos Para Quem Vai Pela Primeira Vez!
</div>
<container>
    <img src="c:\users\guest01\desktop\projeto aspi\viagens\viagens\image\europa3.jpg" />
</container>
<div>
Eurotrip, Mochilão ou Lua-de-Mel. Não importa o nome!
Se você está planejando sua primeira viagem à Europa, esse roteiro é perfeito! Confira as dicas de pontos turísticos, hospedagem e locomoção.
</div>
<div>
A grande dúvida pra marinheiros de primeira viagem montando um roteiro pela Europa é sempre: o que visitar e quanto tempo ficar por lá? 
Há lugares obrigatórios demais, e outros que podem ser uma furada. Então vamos lá! Atenção as dicas e sugestões!
<div>
Sugestão de Roteiro de de 20 dias na Europa: França, Bélgica, Holanda, Alemanha, Àustria e Itália.

Paris e Versalhes – França (4 noites)
Luxemburgo – Luxemburgo (1 noite )
Bruxelas – Bélgica (1 noite)
Bruges – Bélgica (1 noite)
Amsterdam – Holanda (3 noites)
Berlim – Alemanha (3 noites)
Munique – Alemanha (3 noites)
Salzburgo – Áustria (1 noite)
Roma – Itália e Vaticano (3 noites)

Ao comprar sua passagem, se possível compre com destino e partida de cidades diferentes! Isso lhe auxiliará na logística de conhecer vários lugares em apenas uma viagem!
</div>
<container>
        <img src="c:\users\guest01\desktop\projeto aspi\viagens\viagens\image\europa2.jpg" />
</container>
<div>
Sugestão de Roteiro de de 10 dias na Europa: Portugal, Espanha e França

Porto, Lisboa, Sintra, Braga – Portugal (4 noites)
Madri, Barcelona - Espanha  (3 noites)
Roma, Veneza, Verona (3 noites)
</div>
<container>
        <img src="c:\users\guest01\desktop\projeto aspi\viagens\viagens\image\veneza.jpg" />
</container>
<div>
Sugestão de Roteiro de de 7 dias na Europa: Portugal, Espanha e França

Londres – Inglaterra (2 noites)
Berlim, Dresden - Alemanha (2 noites)
Praga - Republica Tcheca (1 noite)
Varsóvia - Polonia ( 1 noite)
Budapeste - Hungria ( 1 noite)
</div>
<container>
        <img src="c:\users\guest01\desktop\projeto aspi\viagens\viagens\image\polonia.jpg" />
</container>


