@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Seu Roteiro Pessoal de Viagens!</h1>
</div>
<div>
    <img src="c:\users\guest01\desktop\projeto aspi\viagens\viagens\image\flutuando-praia.jpg" />
</div>
<div>
    <p>
        Para o dicionário viajar é:
    </p>
    <p>
        Viagem
        substantivo feminino
        1.    o ato de partir de um lugar para outro, relativamente distante, e o resultado desse ato.
        "chegou o dia da v."
        2.     o deslocamento que se faz para se chegar de um local a outro relativamente distante; percurso.
        "dormi durante a v."
    </p>
    <p>
        Qual é o seu conceito de viajar?

        Para Beneth Torquato, quando falamos em viajar, logo vem à cabeça, resorts beira mar, com comida e bebida inclusa, restaurantes caros e passeios maravilhosos. 
        Tudo isso ligado a uma agenda diária, organizada pela agência de viagens, a qual só falta decidir o que você vai comer em cada refeição.
    </p>
    <p>
        Para Torquato, existem várias formas de viajar, abaixo vamos conhecer alguma delas:
    </p>
    <p>
        Mochilhar:
    </p>
    <p>
        Mochilar é colocar uma mochila nas costas, apenas com o essencial, e viajar. 
        Na grande maioria das vezes sozinho e sem destino certo. 
        Quase um tabu, ser mochileiro, é muitas vezes visto com maus olhos, seja pelo fato de não estar bem vestido ou por não saber ao certo para onde está indo.

        O que na verdade é um estilo de viagem e as vezes até de vida, que visa a imersão cultural, viajando de uma maneira única e fantástica.

        Ser mochileiro é ficar em hostels, onde quartos são divididos por pessoas do mundo todos, ou até dormir na casa de locais, que abrem suas portas para estranhos andarilhos.
        Ser mochileiro, é pegar ônibus e conversar com o motorista, é pegar carona para a próxima cidade.
        Ser mochileiro, é fazer parte do dia a dia das pessoas, e assim conhecer verdadeiramente cada local visitado. Ser mochileiro é ser livre.

        A ideia aqui não é julgar quem viajar com pacotes de viagem, descansar em algum hotel de luxo com certeza tem seu valor e é merecido. 
        O que quero mostrar é que mochileiro não é um vagabundo vagando por ai, mas sim alguém curtindo a viagem da sua maneira.
    </p>
    <p>
        Roteiro de Viagens Personalizados:
    <p>
        Para quem não tem tempo, ou não gosta de pesquisar e planejar o Roteiro de Viagens, existem agências e profissionais habilitados a prestar esse serviço.
        É um serviço excelente, pois o Planejador tem conhecimento de todos os detalhes no destino, melhores horários, formas de agendamento e pode lhe auxiliar com todas estas informações.
        É uma excelente oportunidade para você ter o planejamento da viagem dos seus sonhos, na palma da sua mão e aproveita-la ao máximo!
    </p>
    <p>
        Blogs e Sites especializados em Viagens
    </p>
    <p>
</p>
</div>

