@page
@model Viagens.Pages.Index2Model
@{
}
<div class="text-center">
    <h1 class="display-4">América do Sul!</h1>
    <div class="text-center">
        A América do Sul é uma caixinha de surpresas! Feche os olhos e aponte para o seu próximo destino!
</div>
    <img src="c:\users\guest01\desktop\projeto aspi\viagens\viagens\image\viagem-volta-ao-mundo.jpg" />
<div>
    Para você que está planejando sua viagem pela América do Sul, seguem algumas sugestões de roteiros:
<div>
<p></p>
</div>
        <img src="c:\users\guest01\desktop\projeto aspi\viagens\viagens\image\uruguai.jpg" />
<div>
    <div>
<p>
Sugestão de Roteiro de 7 dias pela América do Sul: Argentina e Uruguai.

Buenos Aires - Argentina (3 noites)
Rio da Prata, Colonia Sacramento, Montevideo, Punta Del Leste - Uruguai (4 noites )
</p>

</div>
<p></p>
</div>
        <img src="c:\users\guest01\desktop\projeto aspi\viagens\viagens\image\salr.jpg" />
<div>
<p>
Sugestão de Roteiro de 10 dias pela América do Sul: Chile e Bolívia.

Santiago, Farellones, Cajon del Maipo, Antofagasta - Chile (5 noites)
Salar de Uyuni - Travessia - Bolívia (4 noites )
Calama - Chile ( 1 Noite)
</p>

</div>

<p></p>
</div>
<img src="c:\users\guest01\d
<div>
<p>
Sugestão de Roteiro de 10 dias pela América do Sul: Peru.

Lima, Cusco, Vale Sagrado e Machu Picchu - Peru (7 noites)
        </p>

    </div>
