@page
@model Viagens.Pages.Index1Model
    ViewData["Title"] = "Seguro Viagem:";
}
<h1>@ViewData["Title"]Faça seu Seguro Viagem para você viajar tranquilo! </h1>
<p>

</p>

<p>
Sabemos que acidentes acontecem e problemas de saúde são imprevisíveis, e o Seguro Viagem é essencial para que você esteja protegido contra possíveis imprevistos.
Abaixo seguem algumas observações para você tomar nota antes de contratar o seu Seguro Viagem.
<p>
    
</p>
<p>
  
<p>
    1 – Como funciona o seguro de viagem?
</p>

<p>
O seguro de viagem funciona como um plano de saúde temporário e também uma garantia de indenização para várias situações e acidentes.
Ele será válido pelos dias da contratação e dentro das normas especificadas em cada contrato.
Normalmente é feito para destinos internacionais, onde os planos de saúde brasileiros que usamos no dia a dia não tem validade.
Vale dizer, no entanto, que o seguro de viagem não é destinado apenas a viagens internacionais.
Você poderá contratar o serviço também para viagens dentro do Brasil. Porém, como muitos brasileiros têm plano de saúde, esse serviço não é tão comumente contratado.
</p>
<p>
    2 – Qual a diferença entre seguro de viagem e assistência de viagem?
</p>
<p>
Os dois serviços são chamados comumente de seguro viagem. Porém, é preciso estar atento na hora de pesquisar e de fechar o contrato.
Na prática, a principal diferença está em quem pagará pelo serviço no momento que for utilizado. é uma questão de quem desembolsará o pagamento.
O seguro viagem prevê que o viajante pague todas as despesas médicas do próprio bolso e depois solicite o reembolso à seguradora (dentro dos limites de valores estabelecidos em contrato).
Para isso, será necessário apresentar comprovantes de despesas médicas, laudos, notas fiscais e tudo mais que possa confirma o atendimento. É burocrático e pode trazer muita dor de cabeça.
A vantagem é o viajantes poder escolher qualquer lugar para ser atendido, independente de fazer parte da rede conveniada do seguro.
A assistência de viagem funciona de maneira diferente. O atendimento será todo arcado pela seguradora contratada, dentro dos limites previstos no contrato. 
Diferente do seguro viagem, a assistência viagem prevê que o segurado deve entrar em contato com a empresa contratada antes de receber o atendimento. 
A seguradora então indicará um local para que o atendimento seja realizado e o segurado não precisará desembolsar nada. Todo o pagamento será arcado pela seguradora.
A desvantagem é a obrigatoriedade de ser atendido no local indicado, salvo casos de emergência.
É importante dizer que muitas seguradoras vendem os dois serviços no mesmo pacote, assim você estará garantido de toda maneira. 
É fundamental saber essa informação no momento da contratação do serviço para não passar aperto depois.
<p>
<p>
    3 - Por que devo fazer um seguro de viagem internacional?
</p>
<p>
Em primeiro lugar porque é uma exigência de muitos países aos viajantes e o comprovante pode ser solicitado no momento da imigração. 
Sem o seguro contratado você sequer entra no país.
Mas fora isso, acidentes e doenças podem acometer qualquer viajante, independente da experiência. 
E se o problema for grave, o custo do tratamento no exterior (a depender do país de destino) pode ser bem caro!
Poucos países atendem gratuitamente estrangeiros na rede de saúde. 
Será necessário pagar por consultas médicas, remédio e, em casos mais graves, transporte de ambulância e internação. 
Não vale correr o risco e falir pela economia de não fazer um seguro de viagem internacional antes de embarcar.
O seguro de viagem internacional vale também para outros tipos de serviços, como extravio de bagagem, remarcação de passagem, assistência jurídica e até repatriação do corpo em caso de morte.
Sem falar na recente necessidade que muitos viajantes tiveram com a pandemia do coronavírus. 
Problemas são imprevisíveis e é preciso estar preparado.
</p>
<p>
    4 - Quanto custa um seguro viagem internacional?
</p>
<p>
Acredite: custará bem menos do que o valor de apenas uma consulta médica em muitos países do mundo.
Ele também será uma fatia mínima do orçamento de uma viagem internacional. 
Não fazer seguro é uma economia boba, que pode gerar grandes problemas para o viajante. 
Em média, o seguro para uma viagem de 7 dias para os Estados Unidos, sendo o passageiro com idade até 70 anos, terá custo a partir de R$ 250.
Valores maiores ou menores podem ser encontrados, a depender de descontos, convênios, nível do seguro e a operadora escolhida, porém o preço ajuda a ter uma base de custo para a viagem.
</p>
<p>
    5 – Como contratar um seguro de viagem internacional?
</p>
<p>
Os seguros de viagem internacional podem ser contratados em empresas especializadas em seguro, no próprio banco do viajante, diretamente com a companhia aérea escolhida para a viagem, no site onde a compra da passagem foi realizada, em agências de turismo ou nas operadoras de cartão de crédito. 
Quase todos os serviços podem ser contratados diretamente no site das empresas, sem burocracia e com muita agilidade.
O seguro de viagem não é destinado apenas a viagens internacionais. Você poderá contratar o serviço também para viagens dentro do Brasil. 
Porém, como muitos brasileiros têm plano de saúde, esse serviço não é tão comumente contratado.
</p>
<p>
    6 – Qual seguro de viagem devo contratar?
</p>
Os seguros de viagem são feitos de acordo com os países de destino e o tipo de atividade a ser realizada na viagem, além da complexidade do plano, que pode ir do básico ao super completo. 
No momento da contratação você deverá informar detalhes para a seguradora, assim terá certeza de estar bem coberto e dentro das suas expectativas.
Os seguros não seguem as mesmas regras para todos os países de destino. 
Alguns, como os que fazem parte da União Europeia, exigem seguros de viagem especial para a Europa (no caso desses países é o seguro que segue as regras do Tratado de Schengen). 
A seguradora poderá informar se há alguma especificidade para o seu caso. Se for usar o seguro do cartão de crédito, solicite informações específicas sobre o seu país de destino e exija que o cartão envie detalhes do contrato.
Outro caso que pode alterar a contratação do seguro são os esportes radicais ou de aventura. 
É raro que a cobertura comum do seguro seja válida para acidentes com esportes como esqui, snowboard, escalada, mergulho e outros. 
Informe-se detalhadamente sobre essas atividades com  a seguradora e evite problemas na hora do atendimento. 
Adultos acima de 70 anos e mulheres grávidas também costumam ter preços diferenciados para o seguro.Por isso, informe os dados dos passageiros corretamente. 
Não se esqueça de verificar se o seguro cobre doenças pré-existentes. Essa cobertura não é comum a todos os seguros.
Os seguros serão tão completos quanto o pacote contratado. Você poderá optar pelo básico ou adicionar mais serviços e aumentar as franquias de atendimento e indenização. 
O limite é o seu bolso. Há ainda seguros especiais, feitos para proteger equipamentos eletrônicos, como celulares, computadores e máquinas fotográficas. 
Porém esse tipo de seguro não faz parte do pacote básico oferecido pelas seguradoras e devem ser contratado à parte.
<p>
<p>
Importante: é altamente recomendável optar por uma seguradora confiável e que esteja no Brasil.
Isso facilita muito caso seja necessário contatá-la, incluindo atendimento em português e também caso algo dê errado durante a viagem.
</p>      
<p>
    7 – Como escolher a minha seguradora de viagem?
</p>
<p>
Evite contratar seguros desconhecidos e com difícil atendimento para o usuário. 
Dê preferência para seguradoras grandes e conhecidas, assim você terá mais certeza de ter um atendimento eficiente no momento que precisar.
</p>
<p> 
    8 - Posso usar meu cartão de crédito para contratar o seguro?
</p>
<p>
É muito importante ressaltar que vários cartões de crédito, especialmente os que têm status platinum ou superior, oferecem o seguro de viagem internacional gratuitamente para os clientes. 
Há grandes diferenças entre os cartões no que diz respeito à validade do seguro. 
Muitos exigem que a compra da passagem (ao menos a taxa de embarque) seja efetuada com o próprio cartão. Em outros casos (mais raros), o seguro é automático, independente da compra da passagem. 
Há seguros de cartão de crédito que oferecem a cobertura mesmo dentro do Brasil, a partir de uma certa distância da residência do segurado.
Caso deseje utilizar o seguro do cartão de crédito, informe-se anteriormente sobre todos os direitos do segurado, qual o valor da cobertura, o tipo de seguro (se é seguro ou assistência) e os números de contato para atendimento.
É importante olhar atentamente as cláusulas do contrato para não ter surpresas na viagem.
</p>
<p>
    9 – Por quanto tempo devo contratar o seguro viagem e quando a contratação deve ser feita?
</p>
<p>
O viajante deve contratar o seguro com, no mínimo, o mesmo tempo de duração da viagem. 
Como atrasos de companhias aéreas e imprevistos podem acontecer, sugerimos que o contrato seja feito por dois dias a mais, ou seja, dois dias após a data programada para o retorno. Assim você estará garantido!
A contratação pode ser feita até mesmo de véspera, especialmente no caso de contratos realizados pelo site das empresas. 
Quase todos os contratos tem preços originais em moeda estrangeira, por isso, fique atento à cotação do dólar e do euro na hora de fechar o contrato.
</p>
<p>
    10 – O que o seguro de viagem cobre?
</p>
<p>
Os seguros de viagem cobrem, principalmente, atendimentos médicos de urgência e emergência. 
Entretanto, eles oferecem outras garantias para os usuários, como indenização no caso de extravio de bagagem, repatriação do corpo em caso de morte e até funeral. 
Os seguros serão tão completos quanto os pacotes assinados. Sim! Você poderá fazer um seguro básico ou um super completo. 
Veja as principais coberturas dos seguros de viagem:

- Atendimento médico e odontológico 24h;
- Seguro no caso de interrupção ou cancelamento da viagem, em caso de emergência médica;
- Visita ao segurado hospitalizado;
- Acompanhante em caso de hospitalização prolongada;
- Despesas farmacêuticas;
- Hospedagem após alta hospitalar;
- Remarcação de passagem para regresso;
- Repatriação médica e funerária, que garante o retorno do viajante ao Brasil tanto em caso de doença e acidente quanto em caso de falecimento;
- Assistência funeral;
- Indenização no caso de morte;
- Indenização no caso de invalidez permanente ou total;
- Localização de bagagem extraviada;
- Indenização no caso de extravio de bagagem;
- Despesas jurídicas;
- Pagamento antecipado de fiança.
</p>
<p>
    11 – O que devo levar para a viagem como comprovante de que tenho um seguro?
</p>
<p>
É muito importante ter em mãos (ou em meio eletrônico) o contrato do seguro escolhido, mesmo que seja o do cartão de crédito.
Além de haver a possibilidade de ser exigido na imigração do país de destino, ele será útil em caso de emergência para entrar em contato com a empresa do seguro. 
Você deve ter o número do contrato e todos os telefones de atendimento possíveis para casos de emergência. 
Deixe todos esses contatos também com um responsável no Brasil e com os companheiros de viagem.
</p>
<p>
    12 – Como contatar o seguro de viagem em caso de emergência e o que devo fazer?
</p>
<p>
Ao embarcar para a viagem é fundamente ter, em local acessível, os dados de contato da seguradora contratada e número do contrato. 
Preferencialmente, deixe esses dados também com alguém no Brasil. 
Caso você mesmo possa solicitar o atendimento, ligue na operadora de seguro, explique a sua situação e aguarde instruções.
O meio mais comum para entrar em contato com a seguradora é o telefone.
Se estiver segurado pelo cartão de crédito, ligue antes de viajar para a operadora do cartão e solicite os números de contato direto para o seguro de viagem.Leve todos os números anotados para a viagem.
</p>
<p>
    13 – Devo contratar um seguro de viagem mesmo em caso de pandemia?
</p>
<p>
Mesmo sabendo que diversos seguros de viagem não cobrem o tratamento de doenças ligadas a pandemias, é preciso lembrar que o turista está sujeito a diversas outras enfermidades e acidentes durante uma viagem que não estão diretamente ligados à pandemia, sendo assim, a contratação de um seguro de viagem continua sendo fundamental ao embarcar rumo ao exterior.
</p>
</p>
    14 – É possível cancelar a contratação do seguro em caso de não poder viajar?
<p>
Se você ainda não embarcou para o destino e uma pandemia foi declarada, é preciso entrar em contato diretamente com o seguro de viagem.
Cada empresa de seguro tem diretrizes específicas para casos de cancelamento. 
Ao contratar um seguro, fique atento para as regras. Caso eventualmente não possa viajar, seja pela pandemia ou por qualquer outro motivo, você deve buscar a seguradora o mais rápido possível para negociar o cancelamento da compra do seguro.
</p>
<p>
    15 – Como será o atendimento do seguro viagem?
</p>
<p>
No caso da assistência viagem, a seguradora provavelmente enviará um médico até você ou indicará um hospital ou serviço conveniado onde possa ser realizado o atendimento. 
Esses são os procedimentos padrões e mais comuns para os contratos chamados assistências de viagem. 
No caso do seguro de viagem, você poderá escolher o local para atendimento.
Caso seja um procedimento de emergência e você não possa entrar em contato com a seguradora, faça contato logo que esteja em condições ou forneça os dados do seguro no local onde estiver sendo atendido. 
Quanto antes, melhor! 
Muitas seguradoras exigem um limite máximo de horas para que ela seja comunicada sobre o atendimento.
Os planos de seguro de viagem funcionam em sistema de reembolso, ou seja, você será obrigado a pagar a conta do atendimento e depois o seguro irá fazer o ressarcimento dos valores. 
Há ainda as assistências de viagem, que não exigem nenhum tipo de pagamento e tratam sobre valores diretamente com os hospitais e médicos, não havendo custos para o segurado. 
Em alguns casos, há a exigência do pagamento de uma valor fixo para o seguro a cada vez que ele for acionado.
Caso seja necessária a permanência no local da viagem para atendimento médico além da data final estipulada na contratação do seguro (como um caso de internação), o prazo de validade do seguro será automaticamente estendido. 
O valor da cobertura, no entanto, irá respeitar o valor máximo contratado inicialmente. Leia atentamente as cláusulas do seu contrato para estar ciente do tipo de serviço oferecido pelo seu seguro.
</p>
<p>
    16 – Serei atendido em português?
</p>
<p>
O contato telefônico com a seguradora, caso seja uma empresa brasileira, muito provavelmente será em português. 
O problema será no momento da visita médica ou de ir ao hospital. 
Nos dois casos a chance de ser um médico que fale português será bem pequena.
</p>
<p>
    17 – Tive problemas com o seguro de viagem, o que devo fazer?
</p>
<p>
A Agência reguladora do setor de seguros é a Superintendência de Seguros Privados – SUSEP e o órgão responsável por fixar as diretrizes e normas é o Conselho Nacional de Seguros Privados – CNSP. 
Lembrando que os dois se referem apenas aos seguros vendidos no Brasil. 
Para seguros contratados no exterior outras agências serão responsáveis.
O melhor caminho para resolver problemas com o seguro é o próprio seguro, especialmente se você está precisando dele com urgência. 
Tenha todos os documentos em mãos e deixe também cópias no Brasil, assim alguém poderá te auxiliar a resolver questões jurídicas, caso seja necessário. 
Sites como Reclame Aqui são excelentes ferramentas para auxílio. 
No caso de reembolso não efetuado pela seguradora, guarde todos os comprovantes de pagamento, tanto de hospital e médico quanto de medicamentos.
Eles serão muito importantes caso seja necessário acionar a justiça brasileira para receber os valores devidos pela seguradora.
</p>

    



    



    




    
</p>