@page
@model PrivacyModel
@{
    ViewData["Title"] = "Planejando sua Viagem:";
}
<h1>@ViewData["Title"]</h1>
<p>

</p>

<p>
    Primeiros passos - A documentação:

<p>
    Antes de mais nada, sua documentação precisa estar em dia!
</p>
<p>
    Se a viagem for pelo Mercosul, seu RG já basta ( Carteira de Identidade ), Ok?
</p>  
<p>
    A CNH só vai ser aceita para dirigir carros em países que fazem parte do acordo.
</p>
<p>
    Para outros países, como você já deve saber, é imprescindível a apresentação do Passaporte.
</p>
<p>
    Então, antecipe essa etapa na Polícia Federal antes de planejar a sua viagem.
</p>
<p>
    Embora seja possível viajar para mais de 150 países sem visto, fique atento aos que fazem disso uma regra!
</p>
<p>
    Se você vai viajar para um desses países, como os Estados Unidos, Canadá ou Austrália, é ainda mais importante fazer a entrevista e ter o visto aceito (e em dia!) antes de comprar as passagens.
</p>
<p>
    No Portal Consular do Ministério das Relações Exteriores, você consegue todas as informações sobre documentações necessárias.
</p>
<p>
    Não deixe de dar um check por lá!
</p>
<p>
    E agora, vamos planejar a sua viagem!
</p>
